@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-lg font-normal;
  }
  h2 {
    @apply text-lg font-semibold;
  }
  p {
    @apply text-base font-normal;
  }
}

:root {
  --background: #FEF0E5;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
}

.container {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
  width: calc(100vh * (390 / 844));
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Keeps Navbar at the top */
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* Add styles for the main content area */
.main-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  padding-top: 76px; /* Height of the Header */
  padding-bottom: 76px; /* Height of the Navbar */
}

.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
