@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEF0E5;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.container {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
  width: calc(100vh * (390 / 844));
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;

  /* Center all child elements */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column; /* Stack children vertically */
}
